
@media (max-width: 768px) {
    
    .col-12.col-md-10 {
        position: relative;
        width:auto;
    }


    .cocktail {
        position: absolute;
        top: 102px; 
        left: 10px; 
        transform: translateX(-890px); 
        z-index: 1;
        height: 81px; 
        width: 74px;
  
    }
    .juice{
        position: absolute;
        top: 102px; 
        left: 10px; 
        transform: translateX(-40px); 
        z-index: 1;
        height: 111px; 
        width: 76px;
    }

    
      
      .heading {
        font-size: 30px;  
        line-height: 35px; 
        text-align: center; 
      }
    
      
      .heading img {
        width: 40px; 
        margin: 0 10px; 
      }
    
      
      .item-name-price span {
        font-size: 18px;
        line-height: 28px; 
      }
    
      
      .item-name-price span + span {
        font-size: 14px; 
        line-height: 20px;
        opacity: 0.75;
      }
}
